.myimage{
    width: 100%;
    height: 100%;
}
.mydiv1{
    height: 100px;
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
}

.mydiv2{
    height: 100px;
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
    background: brown;
}